NODE_ENV=your_env_var_here
FRONTEND_URL=your_frontend_url_here
MONGODB_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=your_jwt_expires_in_here
PORT=your_port_number_here
CLOUDINARY_NAME=your_cloudinary_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
SENDGRID_API_KEY=your_sendgrid_api_key_here
FROM_EMAIL=your_from_email_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
HUGGINGFACEHUB_API_TOKEN=your_huggingfacehub_api_token_here
MISTRAL_API_KEY=your_mistral_api_key_here